amqp==5.2.0
billiard==4.2.0
blinker==1.7.0
celery==5.3.6
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
DAWG-Python==0.7.2
docopt==0.6.2
Flask==3.0.2
Flask-Login==0.6.3
Flask-WTF==1.2.1
flasker==0.1.45
flower==2.0.1
gitdb==4.0.11
GitPython==3.1.42
greenlet==3.0.3
humanize==4.9.0
itsdangerous==2.1.2
Jinja2==3.1.3
kombu==5.3.6
MarkupSafe==2.1.5
MouseInfo==0.1.3
pillow==10.2.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
PyAutoGUI==0.9.54
PyGetWindow==0.0.9
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
python-dateutil==2.9.0.post0
pytweening==1.2.0
pytz==2024.1
Serializer==0.2.1
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
SQLAlchemy==2.0.28
tornado==6.4
typing_extensions==4.10.0
tzdata==2024.1
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.0.1
WTForms==3.1.2
