{% extends "base.html" %}

{% block content %}
<form action="" method="post" class="login_form">
    <h1>Редактирование новости</h1>
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control", type="text") }}<br>
        {% for error in form.name.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.text.label }}<br>
        {{ form.text(class="form-control", type="text") }}<br>
        {% for error in form.text.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>{{ form.private() }} {{ form.private.label }}</p>
    <button name="edit" type="submit" class="btn btn-primary btn_sms">Изменить новость</button>
    <button name="edit" type="submit" class="btn btn-danger btn_sms">Удалить новость</button>
    <div>{{ message }}</div>
</form>
{% endblock %}
