{% extends "base.html" %}

{% block content %}
<form action="" class="login_form">
    <h1 align="center">Заявки в друзья</h1>
    <hr>
    {% if current_user.is_authenticated %}
        {% for user in users %}
            <img src="data:image/png;base64, {{ image[loop.index0] }}" alt="ava" width="20" height="25"/>
            {% if user.confirmed == True %}
                <h5><a href="user/{{ user.id }}" class="links">{{ user.name }} {{user.surname}}</a>
                <img src="{{url_for('static', filename='img/galka.png')}}" style="max-width: 3.14%"><h5>
            {% else %}
                        <a href="user/{{ user.id }}" class="links">{{ user.name }} {{user.surname}}</a>
            {% endif %}
            <hr>
        {% endfor %}
    {% else %}
        <a href="/login" class="links"><i class="bi bi-person-add"></i> Войдите в аккаунт </a><a></a>
    {% endif %}
</form>
{% endblock %}
