{% extends "base.html" %}

{% block content %}

<form action="" class="login_form" method="post">
    <h1 align="center">Главная</h1>
    {% if current_user.is_authenticated %}
        <a href="/new_news" class="btn btn-warning">Добавить новость</a>
        {% if current_user.confirmed == False %}
            <button style="margin-left:45%" name="confirm" type="submit" class="btn btn-danger btn_sms">Подтвердить учетную запись</button><br>
            {{text}}<br>
        {% endif %}
    {% else %}
        <a href="/login" class="links"><i class="bi bi-person-add"></i> Войдите в аккаунт</a><a> чтобы просматривать скрытые новости!</a>
    {% endif %}
    <hr>
    {% for new in news %}
    {% if (current_user.is_authenticated and new.private == True) or (new.private == False) %}
        <h3 class="transfate" align="center">{{ new.name }}</h3>
        <i class="transfate">{{ new.text }}</i><br><br>
        <p style="color:white">{{ new.data_str }}</p>
        {% if current_user.is_authenticated and current_user == new.user_relationship %}
            <div>
                <a href="/edit_news/{{ new.id }}" class="btn btn-primary btn_sms">
                    Настройки новости
                </a>
            </div>
         {% elif current_user.is_authenticated and (current_user.email == 'regeneration76@yandex.ru' or current_user.email == 'valerylarionov06@gmail.com') %}
        <div>
            <a href="/edit_news/{{ new.id }}" class="btn btn-primary btn_sms">
                Настройки новости
            </a>
        </div>
        {% endif %}
    {% if current_user.is_authenticated %}
        <div align="right">
            <img src="data:image/png;base64, {{ image[loop.index0] }}" alt="ava" width="20" height="25"/>
        </div>
        {% if current_user.id == new.author %}
            {% if confirm_check[loop.index - 1] == False %}
                <p align="right"><a href="home/{{ new.author }}" class="links transfate">{{ authors[loop.index - 1] }}</a></p>
            {% else %}
                <h5 align="right"><a href="home/{{ new.author }}" class="links transfate">{{ authors[loop.index - 1] }}</a>
                <img src="{{url_for('static', filename='img/galka.png')}}" style="max-width: 3.14%"></h5>
            {% endif %}
        {% else %}
            {% if confirm_check[loop.index - 1] == False %}
                <p align="right"><a href="user/{{ new.author }}" class="links transfate">{{ authors[loop.index - 1] }}</a></p>
            {% else %}
                <h5 align="right"><a href="user/{{ new.author }}" class="links transfate">{{ authors[loop.index - 1] }}</a>
                <img src="{{url_for('static', filename='img/galka.png')}}" style="max-width: 3.14%"></h5>
            {% endif %}
        {% endif %}
    {% else %}
        {% if confirm_check[loop.index - 1] == False %}
            <div align="right">
                <img src="data:image/png;base64, {{ image[loop.index0] }}" alt="ava" width="20" height="25"/>
            </div>
            <p align="right">{{ authors[loop.index - 1] }}</p>
        {% else %}
        <div align="right">
            <img src="data:image/png;base64, {{ image[loop.index0] }}" alt="ava" width="20" height="25"/>
        </div>
        <h5 align="right">{{ authors[loop.index - 1] }}<img src="{{url_for('static', filename='img/galka.png')}}" style="max-width: 3.14%"></h5>
        {% endif %}
    {% endif %}
    <hr>
    {% endif %}
    {% endfor %}
    <h3 align="center">Вы дошли до конца!</h3>
</form>
{% endblock %}
