{% extends "base.html" %}

{% block content %}
<form action="" class="login_form" method="post">
    <h1 align="center">Поиск друзей</h1>
    <hr>
    <input align="center" type="text" class="form-control" placeholder="Введите имя пользователя, которого вы ищите."
           aria-label="Username" aria-describedby="basic-addon1" id="name" name="search"><br>
    {% for user in users %}
    <img src="data:image/png;base64, {{ image[loop.index0] }}" alt="ava" width="20" height="25"/>
    {% if user.confirmed == True %}
    <h5><a href="user/{{ user.id }}" class="links">{{ user.name }} {{user.surname}}</a>
        <img src="{{url_for('static', filename='img/galka.png')}}" style="max-width: 3.14%"></h5>
    {% else %}
        <a href="user/{{ user.id }}" class="links">{{ user.name }} {{user.surname}}</a>
    {% endif %}

    <hr>
    {% endfor %}

    {% if action == 'btn' %}
    <button name="all" type="submit" class=" btn-warning  btn_all_friend btn">Убрать поиск по вводу</button>
    {% endif %}

</form>
{% endblock %}