{% extends "base.html" %}

{% block content %}
<body>

<h1 class="h1_sms"> Чат {{name_chat}}</h1>
<div class="scrole_sms frame_sms">
    {% for message in messages %}
        <p>{{ message.name }}: {{ message.text }}</p>
    {% endfor %}
    <script>
        <!--
        function timedRefresh(timeoutPeriod) {
            setTimeout("location.reload(true);",timeoutPeriod);
        }

        window.onload = timedRefresh(5000);

          -->
    </script>
</div>
<form class="sms_login_form center_label" method="post">
    {{ form.hidden_tag() }}
    <div>
        <p>
        {{ form.text.label }}<br>
        {{ form.text(class="form-control message-input") }}
        {% for error in form.text.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    </div>
    <button name="btn_submit" type="submit" style="opacity: 0; pointer-events: none"></button>
    <button name="btn_translate_eng" type="submit" class="btn btn-success btn_sms">На английский</button>
    <button name="btn_submit" type="submit" class="btn btn-primary btn_sms">Отправить</button>
    <button name="btn_translate_russ" type="submit" class="btn btn-danger btn_sms">На русский</button>
    <br>
</form>
</body>

<script>
let scroleSms= document.querySelector(".scrole_sms");
scroleSms.scrollTop = scroleSms.scrollHeight;
document.querySelector(".message-input").focus()
</script>

{% endblock %}