{% extends "base.html" %}

{% block content %}
<body>

<h1 class="h1_sms"> Чат {{name_chat}}</h1>
<div class="scrole_sms frame_sms" id="message">
    {% for message in messages %}
    <p>{{ message.name }}: {{ message.text }}</p>
    {% endfor %}
</div>
<form action="#" method="POST" id="post_message" class="sms_login_form center_label">
    <input type="text" autofocus="autofocus" name="new_message" id="new_message" placeholder="Написать сообщение" style="word-wrap: break-word;
    max-width: 90%;
    word-break: break-all;
    width: 90%" onkeyup='saveValue(this);'>
    <input type="image" src="https://cdn-icons-png.flaticon.com/512/2550/2550207.png"
           style="width: 23px; height: 20px" onclick="delValue()">
</form>
<form class="sms_login_form center_label" method="post" autocomplete="off">
    <button name="btn_translate_eng" type="submit" class="btn btn-success btn_sms">На английский</button>
    <button name="btn_translate_russ" type="submit" class="btn btn-danger btn_sms">На русский</button>
    <br>
</form>
</body>

<script>
    let scroleSms = document.querySelector(".scrole_sms");
    scroleSms.scrollTop = scroleSms.scrollHeight;
    document.querySelector(".new_message").focus()
</script>

<script>
    setTimeout(function () {
        location.reload(true);
        document.querySelector(".new_message").focus()

    }, 3000);


    document.getElementById("new_message").value = getSavedValue("new_message");

    function delValue() {
        var id = 'new_message';  // get the sender's id to save it .
        var val = ''; // get the value.
        localStorage.setItem(id, val)
    }

    function saveValue(e) {
        var id = e.id;  // get the sender's id to save it .
        var val = e.value; // get the value.
        localStorage.setItem(id, val);// Every time user writing something, the localStorage's value will override .
    }

    function getSavedValue(v) {
        if (!localStorage.getItem(v)) {
            return "";// You can change this to your defualt value.
        }
        return localStorage.getItem(v);
    }
</script>

{% endblock %}