{% extends "base.html" %}

{% block content %}
<form action="" class="login_form" method="post">
    <div align="center">
        <img src="data:image/png;base64, {{ image }}" alt="ava" width="200" height="250"/>
    </div>
    {% if user.confirmed == True %}
    <h1>Пользователь {{ user.name }} {{ user.surname }}<img src="{{url_for('static', filename='img/galka.png')}}"
                                                            style="max-width: 3.74%"></h1>
    <hr>
    <p>Возраст: {{user.age}}</p>
    <hr>
    <p>Город: {{user.city}}</p>
    <hr>
    <p>Статус подтверждения: Cool user</p>
    <hr>
    {% if user.setup_see == True %}
    <p>Шутка за 300: {{user.setup}}</p>
    <hr>
    {% else %}
    <p>Данный пользователь еврей, скрывает шутки за 300</p>
    <hr>
    {% endif %}
    {% else %}
    <h1>Пользователь {{ user.name }} {{ user.surname }}</h1>
    <hr>
    <p>Возраст: {{user.age}}</p>
    <hr>
    <p>Город: {{user.city}}</p>
    <hr>
    <p>Статус подтверждения: Ботяра</p>
    <hr>
    <p>Шутка за 300: {{user.setup}}</p>
    <hr>
    {% endif %}
    <p>Псевдоним: {{user.domen}}</p>
    <hr>

    <div>
        {% if current_user.is_authenticated %}
        {% if button_info == 'sumbit' %}
        <button name="sumbit" type="submit" class="btn btn-primary btn_sms">Принять</button>
        <button name="cancel_friend" type="submit" class="btn btn-danger btn_sms">Отклонить</button>
        <br>
        {% elif button_info == 'add' %}
        <button name="add_friend" type="submit" class="btn btn-primary btn_sms">Добавить в друзья</button>
        {% elif button_info == 'sent' %}
        <button name="cancel_request" type="submit" class="btn btn-danger btn_sms">Отменить запрос</button>
        {% elif button_info == 'other' %}
        <a class="btn btn-primary" href="/messages?before={{ user.id }}" style="color: white">Перейти к личным
            сообщениям</a>
        <button name="delete" type="submit" class="btn btn-danger">Удалить из друзей</button>
        <br>
        {% elif button_info == 'dialog' %}
        <h3>Вы уверены, что хотите удалить пользователя {{ name }}?</h3>
        <button name="yes" type="submit" class="btn btn-danger">Удалить</button>
        <button name="no" type="submit" class="btn btn-primary">Отмена</button>
        <br>
        {% endif %}
        {% endif %}
    </div>

    {{ text }}
</form>
{% endblock %}
