{% extends "base.html" %}

{% block content %}
<form action="" class="login_form" method="post">
    <h1>Пользователь {{ user.surname }} {{ user.name }}
    {% if user.confirmed == True %}
            <img src="{{url_for('static', filename='img/galka.png')}}" style="max-width: 3.74%">
            {% endif %}
    </h1>
    <div>
        {% if current_user.is_authenticated %}
            {% if button_info == 'sumbit' %}
                <button name="sumbit" type="submit" class="btn btn-primary btn_sms">Принять</button>
                <button name="cancel_friend" type="submit" class="btn btn-danger btn_sms">Отклонить</button><br>
            {% elif button_info == 'add' %}
               <button name="add_friend" type="submit" class="btn btn-primary btn_sms">Добавить в друзья</button>
            {% elif button_info == 'sent' %}
               <button name="cancel_request" type="submit" class="btn btn-danger btn_sms">Отменить запрос</button>
            {% elif button_info == 'other' %}
                <a class="btn btn-primary" href="/messages?author={{ current_user.id }}&before={{ user.id }}" style="color: white">Перейти к личным сообщениям</a>
                <button name="delete" type="submit" class="btn btn-danger">Удалить из друзей</button><br>
            {% elif button_info == 'dialog' %}
                <h3>Вы уверены, что хотите удалить пользователя {{ name }}?</h3>
                <button name="yes" type="submit" class="btn btn-danger">Удалить</button>
                <button name="no" type="submit" class="btn btn-primary">Отмена</button><br>
            {% endif %}
        {% endif %}
    </div>

    {{ text }}
</form>
{% endblock %}
