{% extends "base.html" %}

{% block content %}
<form action="" method="post" class="login_form">
    <h1 align="center">Редактирование профиля</h1>
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}

    <button name="ava" type="submit" class="btn btn-warning btn_sms">Изменить аватарку</button><br>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control", type="text") }}<br>
        {% for error in form.name.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>

    <p>
        {{ form.surname.label }}<br>
        {{ form.surname(class="form-control", type="text") }}<br>
        {% for error in form.surname.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>

    <p>
        {{ form.age.label }}<br>
        {{ form.age(class="form-control", type="text") }}<br>
        {% for error in form.age.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>

    <p>
        {{ form.city.label }}<br>
        {{ form.city(class="form-control", type="text") }}<br>
        {% for error in form.city.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>

    {% if current_user.is_authenticated and current_user.confirmed %}
        <p>
            {{ form.domen.label }}<br>
            {{ form.domen(class="form-control", type="text") }}<br>
            {% for error in form.domen.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        <p>{{ form.setup_see() }} {{ form.setup_see.label }}</p>
        <p>{{ form.update_setup() }} {{ form.update_setup.label }}</p>

    {% endif %}
    <button name="edit" type="submit" class="btn btn-primary btn_sms">Принять изменения</button>
    <div>{{ message }}</div>
</form>
{% endblock %}
